<a href="https://colab.research.google.com/github/lmencisoe/ADL/blob/main/Project/Limpieza_datos_Proj_ADL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install shap
!pip install scikeras

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting shap
  Downloading shap-0.41.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (569 kB)
     |████████████████████████████████| 569 kB 4.9 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from shap) (1.3.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from shap) (1.7.3)
Requirement already satisfied: packaging>20.9 in /usr/local/lib/python3.7/dist-packages (from shap) (21.3)
Collecting slicer==0.0.7
  Downloading slicer-0.0.7-py3-none-any.whl (14 kB)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from shap) (1.0.2)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.7/dist-packages (from shap) (4.64.1)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from shap) (1.5.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from shap) (1.21.6)
Requirement already satisfied: numba in /usr/local/lib/python3.7/dist-packages (from shap) (0.56.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>20.9->shap) (3.0.9)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.7/dist-packages (from numba->shap) (0.39.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from numba->shap) (4.13.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba->shap) (57.4.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba->shap) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba->shap) (3.10.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->shap) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->shap) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->shap) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->shap) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->shap) (1.2.0)
Installing collected packages: slicer, shap
Successfully installed shap-0.41.0 slicer-0.0.7
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikeras
  Downloading scikeras-0.9.0-py3-none-any.whl (27 kB)
Requirement already satisfied: importlib-metadata>=3 in /usr/local/lib/python3.7/dist-packages (from scikeras) (4.13.0)
Requirement already satisfied: packaging>=0.21 in /usr/local/lib/python3.7/dist-packages (from scikeras) (21.3)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikeras) (1.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3->scikeras) (3.10.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3->scikeras) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=0.21->scikeras) (3.0.9)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->scikeras) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->scikeras) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->scikeras) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->scikeras) (1.2.0)
Installing collected packages: scikeras
Successfully installed scikeras-0.9.0

In [2]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')
import xgboost as xgb
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.decomposition import PCA
from pandas_profiling import ProfileReport
import tensorflow as tf
from sklearn.feature_extraction import DictVectorizer
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from keras.models import Sequential
from xgboost import plot_importance
from keras.layers import Dropout, Flatten, Dense, Input, Rescaling, Lambda, MaxPooling2D, Conv2D, AveragePooling2D
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.compose import make_column_selector, ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import ConfusionMatrixDisplay, precision_score, recall_score, f1_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection  import GridSearchCV
import tensorflow as tf
from scikeras.wrappers import KerasClassifier

from keras.models import Sequential
from keras.layers import Dense, Input
from keras.utils.vis_utils import plot_model

import statistics
from matplotlib import pyplot
import seaborn as sns
import shap
import warnings
import re
warnings.filterwarnings('ignore')

Mounted at /content/drive

In [3]:
df=pd.read_csv("/content/drive/MyDrive/Proyecto_ADL/int_matches_adl.csv",sep=";")

In [4]:
df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,tournament,neutral_location,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,3/09/2004,Maldives,Oman,Africa,Asia,142,50,0,0,Friendly,False,Lose,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN
1,3/09/2004,Netherlands,Liechtenstein,Europe,Europe,6,152,0,0,Friendly,False,Win,93.0,72.0,85.0,93.0,87.0,NaN,NaN,NaN
2,3/09/2004,Spain,Scotland,Europe,Europe,3,67,0,0,Friendly,False,Draw,94.0,84.0,86.5,89.3,89.5,80.2,79.7,81.8
3,4/09/2004,Albania,Greece,Europe,Europe,94,14,0,0,FIFA World Cup qualification,False,Win,NaN,90.0,NaN,59.0,74.5,82.8,83.7,85.2
4,4/09/2004,Austria,England,Europe,Europe,90,7,0,0,FIFA World Cup qualification,False,Draw,83.0,88.0,76.2,73.0,74.0,90.5,88.7,91.2

In [5]:
df2 = df.copy()

In [6]:
conditions = [
    (df2['home_team_result'] == 'Win'),
    (df2['home_team_result'] == 'Draw'),
    (df2['home_team_result'] == 'Lose')
    ]
values = [1, 2, 3]

In [7]:
df2['results'] = np.select(conditions, values)

In [8]:
df2 = df2.drop(['home_team_result'], axis=1)

In [9]:
df2.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,tournament,neutral_location,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,results
0,3/09/2004,Maldives,Oman,Africa,Asia,142,50,0,0,Friendly,False,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,3
1,3/09/2004,Netherlands,Liechtenstein,Europe,Europe,6,152,0,0,Friendly,False,93.0,72.0,85.0,93.0,87.0,NaN,NaN,NaN,1
2,3/09/2004,Spain,Scotland,Europe,Europe,3,67,0,0,Friendly,False,94.0,84.0,86.5,89.3,89.5,80.2,79.7,81.8,2
3,4/09/2004,Albania,Greece,Europe,Europe,94,14,0,0,FIFA World Cup qualification,False,NaN,90.0,NaN,59.0,74.5,82.8,83.7,85.2,1
4,4/09/2004,Austria,England,Europe,Europe,90,7,0,0,FIFA World Cup qualification,False,83.0,88.0,76.2,73.0,74.0,90.5,88.7,91.2,2

In [10]:
conditions = [
    (df2['tournament'] == 'Friendly'),
    (df2['tournament'] != 'Friendly')
    ]
values = [0, 1]
df2['official_t'] = np.select(conditions, values)
df2.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,tournament,...,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,results,official_t
0,3/09/2004,Maldives,Oman,Africa,Asia,142,50,0,0,Friendly,...,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,3,0
1,3/09/2004,Netherlands,Liechtenstein,Europe,Europe,6,152,0,0,Friendly,...,93.0,72.0,85.0,93.0,87.0,NaN,NaN,NaN,1,0
2,3/09/2004,Spain,Scotland,Europe,Europe,3,67,0,0,Friendly,...,94.0,84.0,86.5,89.3,89.5,80.2,79.7,81.8,2,0
3,4/09/2004,Albania,Greece,Europe,Europe,94,14,0,0,FIFA World Cup qualification,...,NaN,90.0,NaN,59.0,74.5,82.8,83.7,85.2,1,1
4,4/09/2004,Austria,England,Europe,Europe,90,7,0,0,FIFA World Cup qualification,...,83.0,88.0,76.2,73.0,74.0,90.5,88.7,91.2,2,1

In [11]:
df2 = df2.drop(['tournament'], axis=1)

In [12]:
df2 = df2.drop(['home_team_total_fifa_points', 'away_team_total_fifa_points'], axis=1)

In [13]:
df2['date'] = pd.to_datetime(df2['date']).dt.date

In [14]:
df2.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,neutral_location,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,results,official_t
0,2004-03-09,Maldives,Oman,Africa,Asia,142,50,False,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,3,0
1,2004-03-09,Netherlands,Liechtenstein,Europe,Europe,6,152,False,93.0,72.0,85.0,93.0,87.0,NaN,NaN,NaN,1,0
2,2004-03-09,Spain,Scotland,Europe,Europe,3,67,False,94.0,84.0,86.5,89.3,89.5,80.2,79.7,81.8,2,0
3,2004-04-09,Albania,Greece,Europe,Europe,94,14,False,NaN,90.0,NaN,59.0,74.5,82.8,83.7,85.2,1,1
4,2004-04-09,Austria,England,Europe,Europe,90,7,False,83.0,88.0,76.2,73.0,74.0,90.5,88.7,91.2,2,1

In [15]:
df2['year'] = pd.DatetimeIndex(df2['date']).year

In [16]:
df2.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,neutral_location,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,results,official_t,year
0,2004-03-09,Maldives,Oman,Africa,Asia,142,50,False,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,3,0,2004
1,2004-03-09,Netherlands,Liechtenstein,Europe,Europe,6,152,False,93.0,72.0,85.0,93.0,87.0,NaN,NaN,NaN,1,0,2004
2,2004-03-09,Spain,Scotland,Europe,Europe,3,67,False,94.0,84.0,86.5,89.3,89.5,80.2,79.7,81.8,2,0,2004
3,2004-04-09,Albania,Greece,Europe,Europe,94,14,False,NaN,90.0,NaN,59.0,74.5,82.8,83.7,85.2,1,1,2004
4,2004-04-09,Austria,England,Europe,Europe,90,7,False,83.0,88.0,76.2,73.0,74.0,90.5,88.7,91.2,2,1,2004

In [17]:
cuts = 4
df2['home_q'] = pd.qcut(df2['home_team_fifa_rank'],q=cuts, labels=range(1, cuts+1))
df2['away_q'] = pd.qcut(df2['away_team_fifa_rank'],q=cuts, labels=range(1, cuts+1))

In [18]:
df2.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,neutral_location,home_team_goalkeeper_score,away_team_goalkeeper_score,...,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,results,official_t,year,home_q,away_q
0,2004-03-09,Maldives,Oman,Africa,Asia,142,50,False,NaN,70.0,...,NaN,NaN,NaN,NaN,NaN,3,0,2004,4,2
1,2004-03-09,Netherlands,Liechtenstein,Europe,Europe,6,152,False,93.0,72.0,...,93.0,87.0,NaN,NaN,NaN,1,0,2004,1,4
2,2004-03-09,Spain,Scotland,Europe,Europe,3,67,False,94.0,84.0,...,89.3,89.5,80.2,79.7,81.8,2,0,2004,1,2
3,2004-04-09,Albania,Greece,Europe,Europe,94,14,False,NaN,90.0,...,59.0,74.5,82.8,83.7,85.2,1,1,2004,3,1
4,2004-04-09,Austria,England,Europe,Europe,90,7,False,83.0,88.0,...,73.0,74.0,90.5,88.7,91.2,2,1,2004,3,1

In [19]:
df2_home = df2.groupby(['year', 'home_q'])['home_team_goalkeeper_score', 'home_team_mean_defense_score', 'home_team_mean_offense_score', 'home_team_mean_midfield_score'].median()
df2_away = df2.groupby(['year', 'away_q'])['away_team_goalkeeper_score', 'away_team_mean_defense_score', 'away_team_mean_offense_score', 'away_team_mean_midfield_score'].median()

In [20]:
df2_away = pd.DataFrame(df2_away)
df2_away = df2_away.rename(columns={"away_team_goalkeeper_score": "a", "away_team_mean_defense_score": "b", "away_team_mean_offense_score": "c", "away_team_mean_midfield_score": "d"})
df2_home = pd.DataFrame(df2_home)
df2_home = df2_home.rename(columns={"home_team_goalkeeper_score": "a1", "home_team_mean_defense_score": "b1", "home_team_mean_offense_score": "c1", "home_team_mean_midfield_score": "d1"})

In [21]:
new_df = pd.merge(df2, df2_home,  how='left', left_on=['year','home_q'], right_on = ['year','home_q'])
new_df2 = pd.merge(new_df, df2_away,  how='left', left_on=['year','away_q'], right_on = ['year','away_q'])

In [22]:
new_df2

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,neutral_location,home_team_goalkeeper_score,away_team_goalkeeper_score,...,home_q,away_q,a1,b1,c1,d1,a,b,c,d
0,2004-03-09,Maldives,Oman,Africa,Asia,142,50,False,NaN,70.0,...,4,2,72.0,NaN,71.7,NaN,71.0,71.20,76.35,73.5
1,2004-03-09,Netherlands,Liechtenstein,Europe,Europe,6,152,False,93.0,72.0,...,1,4,82.0,79.5,80.3,82.0,72.0,NaN,NaN,NaN
2,2004-03-09,Spain,Scotland,Europe,Europe,3,67,False,94.0,84.0,...,1,2,82.0,79.5,80.3,82.0,71.0,71.20,76.35,73.5
3,2004-04-09,Albania,Greece,Europe,Europe,94,14,False,NaN,90.0,...,3,1,78.0,71.8,73.0,69.2,80.0,79.50,80.30,79.9
4,2004-04-09,Austria,England,Europe,Europe,90,7,False,83.0,88.0,...,3,1,78.0,71.8,73.0,69.2,80.0,79.50,80.30,79.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15654,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,False,65.0,NaN,...,4,4,65.0,71.5,68.3,68.0,65.0,69.85,64.00,66.8
15655,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,False,NaN,65.0,...,4,4,65.0,71.5,68.3,68.0,65.0,69.85,64.00,66.8
15656,2022-06-14,Chile,Ghana,South America,Africa,28,60,True,79.0,74.0,...,1,2,80.0,77.8,80.7,78.5,73.0,73.00,74.00,74.2
15657,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,False,73.0,NaN,...,1,1,80.0,77.8,80.7,78.5,80.0,77.80,80.00,78.5
15658,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,False,75.0,NaN,...,1,1,80.0,77.8,80.7,78.5,80.0,77.80,80.00,78.5

In [23]:
new_df2['home_team_goalkeeper_score'][new_df2['home_team_goalkeeper_score'].isnull()] = new_df2['a1'][new_df2['home_team_goalkeeper_score'].isnull()]
new_df2['home_team_mean_defense_score'][new_df2['home_team_mean_defense_score'].isnull()] = new_df2['b1'][new_df2['home_team_mean_defense_score'].isnull()]
new_df2['home_team_mean_offense_score'][new_df2['home_team_mean_offense_score'].isnull()] = new_df2['c1'][new_df2['home_team_mean_offense_score'].isnull()]
new_df2['home_team_mean_midfield_score'][new_df2['home_team_mean_midfield_score'].isnull()] = new_df2['d1'][new_df2['home_team_mean_midfield_score'].isnull()]
new_df2['away_team_goalkeeper_score'][new_df2['away_team_goalkeeper_score'].isnull()] = new_df2['a'][new_df2['away_team_goalkeeper_score'].isnull()]
new_df2['away_team_mean_defense_score'][new_df2['away_team_mean_defense_score'].isnull()] = new_df2['b'][new_df2['away_team_mean_defense_score'].isnull()]
new_df2['away_team_mean_offense_score'][new_df2['away_team_mean_offense_score'].isnull()] = new_df2['c'][new_df2['away_team_mean_offense_score'].isnull()]
new_df2['away_team_mean_midfield_score'][new_df2['away_team_mean_midfield_score'].isnull()] = new_df2['d'][new_df2['away_team_mean_midfield_score'].isnull()]
new_df2

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,neutral_location,home_team_goalkeeper_score,away_team_goalkeeper_score,...,home_q,away_q,a1,b1,c1,d1,a,b,c,d
0,2004-03-09,Maldives,Oman,Africa,Asia,142,50,False,72.0,70.0,...,4,2,72.0,NaN,71.7,NaN,71.0,71.20,76.35,73.5
1,2004-03-09,Netherlands,Liechtenstein,Europe,Europe,6,152,False,93.0,72.0,...,1,4,82.0,79.5,80.3,82.0,72.0,NaN,NaN,NaN
2,2004-03-09,Spain,Scotland,Europe,Europe,3,67,False,94.0,84.0,...,1,2,82.0,79.5,80.3,82.0,71.0,71.20,76.35,73.5
3,2004-04-09,Albania,Greece,Europe,Europe,94,14,False,78.0,90.0,...,3,1,78.0,71.8,73.0,69.2,80.0,79.50,80.30,79.9
4,2004-04-09,Austria,England,Europe,Europe,90,7,False,83.0,88.0,...,3,1,78.0,71.8,73.0,69.2,80.0,79.50,80.30,79.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15654,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,False,65.0,65.0,...,4,4,65.0,71.5,68.3,68.0,65.0,69.85,64.00,66.8
15655,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,False,65.0,65.0,...,4,4,65.0,71.5,68.3,68.0,65.0,69.85,64.00,66.8
15656,2022-06-14,Chile,Ghana,South America,Africa,28,60,True,79.0,74.0,...,1,2,80.0,77.8,80.7,78.5,73.0,73.00,74.00,74.2
15657,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,False,73.0,80.0,...,1,1,80.0,77.8,80.7,78.5,80.0,77.80,80.00,78.5
15658,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,False,75.0,80.0,...,1,1,80.0,77.8,80.7,78.5,80.0,77.80,80.00,78.5

In [24]:
new_df2 = new_df2.drop(['a', 'b', 'c', 'd', 'a1', 'b1', 'c1', 'd1', 'year', 'home_q', 	'away_q'], axis=1)

In [25]:
new_df2.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,neutral_location,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,results,official_t
0,2004-03-09,Maldives,Oman,Africa,Asia,142,50,False,72.0,70.0,NaN,71.7,NaN,71.2,76.35,73.5,3,0
1,2004-03-09,Netherlands,Liechtenstein,Europe,Europe,6,152,False,93.0,72.0,85.0,93.0,87.0,NaN,NaN,NaN,1,0
2,2004-03-09,Spain,Scotland,Europe,Europe,3,67,False,94.0,84.0,86.5,89.3,89.5,80.2,79.70,81.8,2,0
3,2004-04-09,Albania,Greece,Europe,Europe,94,14,False,78.0,90.0,71.8,59.0,74.5,82.8,83.70,85.2,1,1
4,2004-04-09,Austria,England,Europe,Europe,90,7,False,83.0,88.0,76.2,73.0,74.0,90.5,88.70,91.2,2,1

In [26]:
# home_team_goalkeeper_score	
home1_median = statistics.median(new_df2['home_team_goalkeeper_score'])
new_df2['home_team_goalkeeper_score'][pd.isna(new_df2['home_team_goalkeeper_score'])] = home1_median
#	home_team_mean_defense_score
home2_median = statistics.median(new_df2['home_team_mean_defense_score'])
new_df2['home_team_mean_defense_score'][pd.isna(new_df2['home_team_mean_defense_score'])] = home2_median
#	home_team_mean_offense_score
home3_median = statistics.median(new_df2['home_team_mean_offense_score'])
new_df2['home_team_mean_offense_score'][pd.isna(new_df2['home_team_mean_offense_score'])] = home3_median
#	home_team_mean_midfield_score
home4_median = statistics.median(new_df2['home_team_mean_midfield_score'])
new_df2['home_team_mean_midfield_score'][pd.isna(new_df2['home_team_mean_midfield_score'])] = home4_median
#	away_team_goalkeeper_score	
away1_median = statistics.median(new_df2['away_team_goalkeeper_score'])
new_df2['away_team_goalkeeper_score'][pd.isna(new_df2['away_team_goalkeeper_score'])] = away1_median
#	away_team_mean_defense_score
away2_median = statistics.median(new_df2['away_team_mean_defense_score'])
new_df2['away_team_mean_defense_score'][pd.isna(new_df2['away_team_mean_defense_score'])] = away2_median
#	away_team_mean_offense_score
away3_median = statistics.median(new_df2['away_team_mean_offense_score'])
new_df2['away_team_mean_offense_score'][pd.isna(new_df2['away_team_mean_offense_score'])] = away3_median
#	away_team_mean_midfield_score	
away4_median = statistics.median(new_df2['away_team_mean_midfield_score'])
new_df2['away_team_mean_midfield_score'][pd.isna(new_df2['away_team_mean_midfield_score'])] = away4_median

In [27]:
new_df2

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,neutral_location,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,results,official_t
0,2004-03-09,Maldives,Oman,Africa,Asia,142,50,False,72.0,70.0,61.65,71.7,68.0,71.20,76.35,73.5,3,0
1,2004-03-09,Netherlands,Liechtenstein,Europe,Europe,6,152,False,93.0,72.0,85.00,93.0,87.0,63.20,65.50,68.5,1,0
2,2004-03-09,Spain,Scotland,Europe,Europe,3,67,False,94.0,84.0,86.50,89.3,89.5,80.20,79.70,81.8,2,0
3,2004-04-09,Albania,Greece,Europe,Europe,94,14,False,78.0,90.0,71.80,59.0,74.5,82.80,83.70,85.2,1,1
4,2004-04-09,Austria,England,Europe,Europe,90,7,False,83.0,88.0,76.20,73.0,74.0,90.50,88.70,91.2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15654,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,False,65.0,65.0,71.50,68.3,68.0,69.85,64.00,66.8,1,1
15655,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,False,65.0,65.0,71.50,68.3,68.0,69.85,64.00,66.8,3,1
15656,2022-06-14,Chile,Ghana,South America,Africa,28,60,True,79.0,74.0,75.50,76.7,78.2,75.50,76.00,78.2,3,1
15657,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,False,73.0,80.0,75.20,75.0,77.5,70.80,72.30,74.0,3,1
15658,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,False,75.0,80.0,73.00,80.0,73.8,77.80,79.30,70.8,1,0

In [28]:
home_cont = pd.get_dummies(new_df2['home_team_continent'], prefix='home_team_continent_').reset_index(drop=True)
away_cont = pd.get_dummies(new_df2['away_team_continent'], prefix='away_team_continent_').reset_index(drop=True)

In [29]:
new_df2 = pd.concat([new_df2.reset_index(drop=True), home_cont], axis=1)
new_df2 = pd.concat([new_df2.reset_index(drop=True), away_cont], axis=1)

In [30]:
new_df2.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,neutral_location,home_team_goalkeeper_score,away_team_goalkeeper_score,...,home_team_continent__Europe,home_team_continent__North America,home_team_continent__Oceania,home_team_continent__South America,away_team_continent__Africa,away_team_continent__Asia,away_team_continent__Europe,away_team_continent__North America,away_team_continent__Oceania,away_team_continent__South America
0,2004-03-09,Maldives,Oman,Africa,Asia,142,50,False,72.0,70.0,...,0,0,0,0,0,1,0,0,0,0
1,2004-03-09,Netherlands,Liechtenstein,Europe,Europe,6,152,False,93.0,72.0,...,1,0,0,0,0,0,1,0,0,0
2,2004-03-09,Spain,Scotland,Europe,Europe,3,67,False,94.0,84.0,...,1,0,0,0,0,0,1,0,0,0
3,2004-04-09,Albania,Greece,Europe,Europe,94,14,False,78.0,90.0,...,1,0,0,0,0,0,1,0,0,0
4,2004-04-09,Austria,England,Europe,Europe,90,7,False,83.0,88.0,...,1,0,0,0,0,0,1,0,0,0

In [113]:
new_df3 = new_df2.copy()

In [114]:
new_df3[['home_team_fifa_rank',
         'away_team_fifa_rank',
         'home_team_goalkeeper_score',
         'away_team_goalkeeper_score',
         'home_team_mean_defense_score',
         'home_team_mean_offense_score',
         'home_team_mean_midfield_score',
         'away_team_mean_defense_score',
         'away_team_mean_offense_score',
         'away_team_mean_midfield_score']] = StandardScaler().fit_transform(new_df3[['home_team_fifa_rank',
         'away_team_fifa_rank',
         'home_team_goalkeeper_score',
         'away_team_goalkeeper_score',
         'home_team_mean_defense_score',
         'home_team_mean_offense_score',
         'home_team_mean_midfield_score',
         'away_team_mean_defense_score',
         'away_team_mean_offense_score',
         'away_team_mean_midfield_score']])

In [115]:
home_max = new_df3.groupby(['home_team'], as_index=False)['date'].max()
home_max = pd.DataFrame(home_max)
away_max = new_df3.groupby(['away_team'], as_index=False)['date'].max()
away_max = pd.DataFrame(away_max)

In [116]:
home_max = home_max.rename(columns={"home_team": "team"})
away_max = away_max.rename(columns={"away_team": "team"})

In [117]:
union_dfs = pd.concat([home_max, away_max])
union_dfs = union_dfs.drop_duplicates()

In [118]:
union_dfs = union_dfs.groupby(['team'], as_index=False)['date'].max()
union_dfs = pd.DataFrame(union_dfs)

               team        date
0       Afghanistan  2022-11-06
1           Albania  2022-10-06
2           Algeria  2022-12-06
3    American Samoa  2019-10-07
4           Andorra  2022-10-06
..              ...         ...
207         Vietnam  2022-03-29
208           Wales  2022-11-06
209           Yemen  2022-11-06
210          Zambia  2022-07-06
211        Zimbabwe  2022-10-01

[212 rows x 2 columns]

In [119]:
home_info_total = new_df3[['home_team', 'date', 'home_team_fifa_rank', 'home_team_goalkeeper_score', 'home_team_mean_defense_score', 'home_team_mean_offense_score', 'home_team_mean_midfield_score', 'home_team_continent__Africa', 'home_team_continent__Asia', 'home_team_continent__Europe', 'home_team_continent__North America', 'home_team_continent__Oceania', 'home_team_continent__South America']]
away_info_total = new_df3[['away_team', 'date', 'away_team_fifa_rank', 'away_team_goalkeeper_score', 'away_team_mean_defense_score', 'away_team_mean_offense_score', 'away_team_mean_midfield_score', 'away_team_continent__Africa', 'away_team_continent__Asia', 'away_team_continent__Europe', 'away_team_continent__North America', 'away_team_continent__Oceania', 'away_team_continent__South America']]

In [120]:
home_info_total = home_info_total.rename(columns={"home_team": "team",
                                                  "home_team_fifa_rank": "team1_rank",
                                                  "home_team_goalkeeper_score": "team1_gk",
                                                  "home_team_mean_defense_score": "team1_de",
                                                  "home_team_mean_offense_score": "team1_of",
                                                  "home_team_mean_midfield_score": "team1_mi", 
                                                  "home_team_continent__Africa": "team1_af",
                                                  "home_team_continent__Asia": "team1_as",
                                                  "home_team_continent__Europe": "team1_eu",
                                                  "home_team_continent__North America": "team1_na",
                                                  "home_team_continent__Oceania": "team1_oc",
                                                  "home_team_continent__South America": "team1_sa"})
away_info_total = away_info_total.rename(columns={"away_team": "team",
                                                  "away_team_fifa_rank": "team1_rank",
                                                  "away_team_goalkeeper_score": "team1_gk",
                                                  "away_team_mean_defense_score": "team1_de",
                                                  "away_team_mean_offense_score": "team1_of",
                                                  "away_team_mean_midfield_score": "team1_mi", 
                                                  "away_team_continent__Africa": "team1_af",
                                                  "away_team_continent__Asia": "team1_as",
                                                  "away_team_continent__Europe": "team1_eu",
                                                  "away_team_continent__North America": "team1_na",
                                                  "away_team_continent__Oceania": "team1_oc",
                                                  "away_team_continent__South America": "team1_sa"})

In [121]:
union_dfs_info = pd.concat([home_info_total, away_info_total])
union_dfs_info = union_dfs_info.drop_duplicates()

,team,date,team1_rank,team1_gk,team1_de,team1_of,team1_mi,team1_af,team1_as,team1_eu,team1_na,team1_oc,team1_sa
0,Maldives,2004-03-09,1.126734,0.023561,-1.605594,-0.163232,-0.688680,1,0,0,0,0,0
1,Netherlands,2004-03-09,-1.392090,2.841912,2.218586,3.213115,2.282443,0,0,1,0,0,0
2,Spain,2004-03-09,-1.447652,2.976119,2.464250,2.626614,2.673380,0,0,1,0,0,0
3,Albania,2004-04-09,0.237737,0.828804,0.056737,-2.176360,0.327757,0,0,1,0,0,0
4,Austria,2004-04-09,0.163654,1.499840,0.777353,0.042836,0.249569,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15654,Andorra,2022-06-14,1.270454,-0.863433,-0.231977,-1.328384,-0.823001,0,0,1,0,0,0
15655,Latvia,2022-06-14,0.938614,-0.863433,-0.231977,-1.328384,-0.823001,0,0,1,0,0,0
15656,Ghana,2022-06-14,-0.444055,0.386016,0.768603,0.606344,1.024341,1,0,0,0,0,0
15657,Tunisia,2022-06-14,-0.904945,1.218982,-0.063737,0.009803,0.343741,1,0,0,0,0,0
15658,Egypt,2022-06-14,-0.960252,1.218982,1.175919,1.138394,-0.174811,1,0,0,0,0,0

In [122]:
base_total_max = pd.merge(union_dfs, union_dfs_info,  how='left', left_on=['team','date'], right_on = ['team','date'])

,team,date,team1_rank,team1_gk,team1_de,team1_of,team1_mi,team1_af,team1_as,team1_eu,team1_na,team1_oc,team1_sa
0,Afghanistan,2022-11-06,1.215148,-0.863433,-0.231977,-1.328384,-0.823001,0,1,0,0,0,0
1,Albania,2022-10-06,-0.280844,1.097218,0.777353,-0.432706,0.093194,0,0,1,0,0,0
2,Algeria,2022-12-06,-0.739025,0.941327,1.211338,1.412481,0.991931,1,0,0,0,0,0
3,American Samoa,2019-10-07,2.015731,-0.379061,-0.729390,-0.226638,-0.688680,0,0,0,0,1,0
4,Andorra,2022-10-06,1.330463,-0.915890,0.007604,-0.702180,-0.688680,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,Vietnam,2022-03-29,0.256497,-1.002261,-0.471053,-0.522247,-0.336858,0,1,0,0,0,0
208,Wales,2022-11-06,-1.169841,0.291975,0.580821,0.042836,0.953256,0,0,1,0,0,0
209,Yemen,2022-11-06,1.293421,-0.915890,0.007604,-0.702180,-0.688680,0,1,0,0,0,0
210,Zambia,2022-07-06,0.108092,-0.781683,-0.434593,-0.163232,-0.407205,1,0,0,0,0,0
211,Zimbabwe,2022-10-01,0.680516,-0.446950,-1.090882,0.009803,-0.336858,1,0,0,0,0,0

In [123]:
new_df3 = new_df3.drop(columns=['date',	'home_team_continent',	'away_team_continent'])

In [125]:
new_df3 = new_df3.rename(columns={"home_team": "team",
                                                  "home_team_fifa_rank": "team1_rank",
                                                  "home_team_goalkeeper_score": "team1_gk",
                                                  "home_team_mean_defense_score": "team1_de",
                                                  "home_team_mean_offense_score": "team1_of",
                                                  "home_team_mean_midfield_score": "team1_mi", 
                                                  "home_team_continent__Africa": "team1_af",
                                                  "home_team_continent__Asia": "team1_as",
                                                  "home_team_continent__Europe": "team1_eu",
                                                  "home_team_continent__North America": "team1_na",
                                                  "home_team_continent__Oceania": "team1_oc",
                                                  "home_team_continent__South America": "team1_sa",
                                                  "away_team": "team2",
                                                  "away_team_fifa_rank": "team2_rank",
                                                  "away_team_goalkeeper_score": "team2_gk",
                                                  "away_team_mean_defense_score": "team2_de",
                                                  "away_team_mean_offense_score": "team2_of",
                                                  "away_team_mean_midfield_score": "team2_mi", 
                                                  "away_team_continent__Africa": "team2_af",
                                                  "away_team_continent__Asia": "team2_as",
                                                  "away_team_continent__Europe": "team2_eu",
                                                  "away_team_continent__North America": "team2_na",
                                                  "away_team_continent__Oceania": "team2_oc",
                                                  "away_team_continent__South America": "team2_sa"})

In [126]:
new_df3

,team,team2,team1_rank,team2_rank,neutral_location,team1_gk,team2_gk,team1_de,team1_of,team1_mi,...,team1_eu,team1_na,team1_oc,team1_sa,team2_af,team2_as,team2_eu,team2_na,team2_oc,team2_sa
0,Maldives,Oman,1.126734,-0.628411,False,0.023561,-0.169295,-1.605594,-0.163232,-0.688680,...,0,0,0,0,0,1,0,0,0,0
1,Netherlands,Liechtenstein,-1.392090,1.252019,False,2.841912,0.108361,2.218586,3.213115,2.282443,...,1,0,0,0,0,0,1,0,0,0
2,Spain,Scotland,-1.447652,-0.315006,False,2.976119,1.774293,2.464250,2.626614,2.673380,...,1,0,0,0,0,0,1,0,0,0
3,Albania,Greece,0.237737,-1.292092,False,0.828804,2.607259,0.056737,-2.176360,0.327757,...,1,0,0,0,0,0,1,0,0,0
4,Austria,England,0.163654,-1.421141,False,1.499840,2.329604,0.777353,0.042836,0.249569,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15654,Moldova,Andorra,1.830523,1.270454,False,-0.915890,-0.863433,0.007604,-0.702180,-0.688680,...,1,0,0,0,0,0,1,0,0,0
15655,Liechtenstein,Latvia,2.052772,0.938614,False,-0.915890,-0.863433,0.007604,-0.702180,-0.688680,...,1,0,0,0,0,0,1,0,0,0
15656,Chile,Ghana,-0.984633,-0.444055,True,0.963011,0.386016,0.662709,0.629338,0.906344,...,0,0,0,1,1,0,0,0,0,0
15657,Japan,Tunisia,-1.077237,-0.904945,False,0.157768,1.218982,0.613577,0.359864,0.796881,...,0,0,0,0,1,0,0,0,0,0
15658,Korea Republic,Egypt,-0.966112,-0.960252,False,0.426182,1.218982,0.253268,1.152434,0.218294,...,0,0,0,0,1,0,0,0,0,0

In [127]:
X_base_model = new_df3.drop(columns=['team', 'team2', 'results', 'neutral_location'])
Y_model = new_df3['results']
Y_model

0        3
1        1
2        2
3        1
4        2
        ..
15654    1
15655    3
15656    3
15657    3
15658    1
Name: results, Length: 15659, dtype: int64

In [129]:
X_base_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15659 entries, 0 to 15658
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   team1_rank  15659 non-null  float64
 1   team2_rank  15659 non-null  float64
 2   team1_gk    15659 non-null  float64
 3   team2_gk    15659 non-null  float64
 4   team1_de    15659 non-null  float64
 5   team1_of    15659 non-null  float64
 6   team1_mi    15659 non-null  float64
 7   team2_de    15659 non-null  float64
 8   team2_of    15659 non-null  float64
 9   team2_mi    15659 non-null  float64
 10  official_t  15659 non-null  int64
 11  team1_af    15659 non-null  uint8
 12  team1_as    15659 non-null  uint8
 13  team1_eu    15659 non-null  uint8
 14  team1_na    15659 non-null  uint8
 15  team1_oc    15659 non-null  uint8
 16  team1_sa    15659 non-null  uint8
 17  team2_af    15659 non-null  uint8
 18  team2_as    15659 non-null  uint8
 19  team2_eu    15659 non-null  uint8
 20  team2_na    15659 non-null  uint8
 21  team2_oc    15659 non-null  uint8
 22  team2_sa    15659 non-null  uint8
dtypes: float64(10), int64(1), uint8(12)
memory usage: 1.5 MB

In [130]:
X_train, X_test, y_train, y_test = train_test_split(X_base_model, Y_model, test_size=0.2, random_state=2022)

In [131]:
y_dict = [{'':str(x)} for x in y_train.tolist()]
y_dict_test = [{'':str(x)} for x in y_test.tolist()]

In [132]:
vec = DictVectorizer(sparse=False, dtype=int)
M_train = vec.fit_transform(y_dict)
M_test = vec.fit_transform(y_dict_test)

In [133]:
model = Sequential(name="RedNeuronal")
model.add(Input(shape=(23),name='Capa_Entrada'))
model.add(Dense(32,activation='relu',name='Capa_Densa_1'))
model.add(Dense(16,activation='relu',name='Capa_Densa_2'))
model.add(Dense(8,activation='relu',name='Capa_Densa_3'))
model.add(Dense(4,activation='relu',name='Capa_Densa_4'))
model.add(Dense(3,activation='softmax',name='Capa_Respuesta'))
model.compile(loss='categorical_crossentropy', optimizer='sgd',metrics=[tf.keras.metrics.Precision(), tf.keras.metrics.Recall()])
model.summary()

Model: "RedNeuronal"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 Capa_Densa_1 (Dense)        (None, 32)                768

 Capa_Densa_2 (Dense)        (None, 16)                528

 Capa_Densa_3 (Dense)        (None, 8)                 136

 Capa_Densa_4 (Dense)        (None, 4)                 36

 Capa_Respuesta (Dense)      (None, 3)                 15

=================================================================
Total params: 1,483
Trainable params: 1,483
Non-trainable params: 0
_________________________________________________________________

In [134]:
my_callbacks = [
    tf.keras.callbacks.EarlyStopping(patience=4)
]

In [135]:
history = model.fit(X_train, 
        M_train,           
        validation_data=([X_test, M_test]),
        epochs=50,
        callbacks=my_callbacks
    )

Epoch 1/50
392/392 [==============================] - 3s 5ms/step - loss: 1.0644 - precision_1: 0.0000e+00 - recall_1: 0.0000e+00 - val_loss: 1.0509 - val_precision_1: 0.0000e+00 - val_recall_1: 0.0000e+00
Epoch 2/50
392/392 [==============================] - 2s 4ms/step - loss: 1.0359 - precision_1: 0.6680 - recall_1: 0.0516 - val_loss: 1.0278 - val_precision_1: 0.6579 - val_recall_1: 0.1363
Epoch 3/50
392/392 [==============================] - 2s 4ms/step - loss: 0.9940 - precision_1: 0.6647 - recall_1: 0.2197 - val_loss: 0.9801 - val_precision_1: 0.6636 - val_recall_1: 0.3036
Epoch 4/50
392/392 [==============================] - 2s 4ms/step - loss: 0.9566 - precision_1: 0.6531 - recall_1: 0.3757 - val_loss: 0.9599 - val_precision_1: 0.6443 - val_recall_1: 0.3956
Epoch 5/50
392/392 [==============================] - 2s 5ms/step - loss: 0.9424 - precision_1: 0.6531 - recall_1: 0.4050 - val_loss: 0.9509 - val_precision_1: 0.6484 - val_recall_1: 0.3962
Epoch 6/50
392/392 [==============================] - 2s 4ms/step - loss: 0.9338 - precision_1: 0.6585 - recall_1: 0.4150 - val_loss: 0.9445 - val_precision_1: 0.6516 - val_recall_1: 0.3959
Epoch 7/50
392/392 [==============================] - 2s 4ms/step - loss: 0.9278 - precision_1: 0.6659 - recall_1: 0.4132 - val_loss: 0.9403 - val_precision_1: 0.6533 - val_recall_1: 0.3953
Epoch 8/50
392/392 [==============================] - 2s 4ms/step - loss: 0.9228 - precision_1: 0.6701 - recall_1: 0.4150 - val_loss: 0.9371 - val_precision_1: 0.6478 - val_recall_1: 0.3975
Epoch 9/50
392/392 [==============================] - 2s 4ms/step - loss: 0.9185 - precision_1: 0.6724 - recall_1: 0.4209 - val_loss: 0.9347 - val_precision_1: 0.6516 - val_recall_1: 0.4042
Epoch 10/50
392/392 [==============================] - 2s 4ms/step - loss: 0.9149 - precision_1: 0.6739 - recall_1: 0.4236 - val_loss: 0.9332 - val_precision_1: 0.6539 - val_recall_1: 0.3940
Epoch 11/50
392/392 [==============================] - 2s 4ms/step - loss: 0.9122 - precision_1: 0.6775 - recall_1: 0.4247 - val_loss: 0.9311 - val_precision_1: 0.6546 - val_recall_1: 0.3934
Epoch 12/50
392/392 [==============================] - 2s 5ms/step - loss: 0.9099 - precision_1: 0.6790 - recall_1: 0.4234 - val_loss: 0.9305 - val_precision_1: 0.6487 - val_recall_1: 0.3991
Epoch 13/50
392/392 [==============================] - 2s 5ms/step - loss: 0.9078 - precision_1: 0.6786 - recall_1: 0.4277 - val_loss: 0.9287 - val_precision_1: 0.6553 - val_recall_1: 0.3981
Epoch 14/50
392/392 [==============================] - 2s 4ms/step - loss: 0.9063 - precision_1: 0.6795 - recall_1: 0.4263 - val_loss: 0.9285 - val_precision_1: 0.6508 - val_recall_1: 0.4064
Epoch 15/50
392/392 [==============================] - 2s 5ms/step - loss: 0.9046 - precision_1: 0.6782 - recall_1: 0.4286 - val_loss: 0.9289 - val_precision_1: 0.6560 - val_recall_1: 0.4074
Epoch 16/50
392/392 [==============================] - 2s 5ms/step - loss: 0.9031 - precision_1: 0.6825 - recall_1: 0.4280 - val_loss: 0.9289 - val_precision_1: 0.6580 - val_recall_1: 0.4128
Epoch 17/50
392/392 [==============================] - 2s 5ms/step - loss: 0.9020 - precision_1: 0.6817 - recall_1: 0.4315 - val_loss: 0.9280 - val_precision_1: 0.6582 - val_recall_1: 0.4052
Epoch 18/50
392/392 [==============================] - 2s 4ms/step - loss: 0.9010 - precision_1: 0.6844 - recall_1: 0.4301 - val_loss: 0.9281 - val_precision_1: 0.6535 - val_recall_1: 0.4160
Epoch 19/50
392/392 [==============================] - 2s 4ms/step - loss: 0.8999 - precision_1: 0.6820 - recall_1: 0.4362 - val_loss: 0.9268 - val_precision_1: 0.6581 - val_recall_1: 0.4013
Epoch 20/50
392/392 [==============================] - 2s 4ms/step - loss: 0.8991 - precision_1: 0.6823 - recall_1: 0.4350 - val_loss: 0.9274 - val_precision_1: 0.6574 - val_recall_1: 0.3994
Epoch 21/50
392/392 [==============================] - 2s 4ms/step - loss: 0.8985 - precision_1: 0.6838 - recall_1: 0.4300 - val_loss: 0.9308 - val_precision_1: 0.6547 - val_recall_1: 0.4208
Epoch 22/50
392/392 [==============================] - 2s 5ms/step - loss: 0.8980 - precision_1: 0.6847 - recall_1: 0.4304 - val_loss: 0.9296 - val_precision_1: 0.6539 - val_recall_1: 0.4240
Epoch 23/50
392/392 [==============================] - 2s 5ms/step - loss: 0.8975 - precision_1: 0.6833 - recall_1: 0.4363 - val_loss: 0.9283 - val_precision_1: 0.6541 - val_recall_1: 0.4058

In [136]:
pred_train = model.predict(X_train)
y_pred = list()
for i in range(len(pred_train)):
    y_pred.append((pred_train[i] == pred_train[i].max()).astype(int))

392/392 [==============================] - 1s 2ms/step

In [137]:
class_names = ['1','2','3']

In [138]:
y_pred = np.array(y_pred)
print(classification_report(M_train,y_pred,target_names=list(class_names)))

              precision    recall  f1-score   support

           1       0.62      0.84      0.71      6096
           2       0.00      0.00      0.00      2799
           3       0.54      0.62      0.57      3632

   micro avg       0.59      0.59      0.59     12527
   macro avg       0.38      0.49      0.43     12527
weighted avg       0.46      0.59      0.51     12527
 samples avg       0.59      0.59      0.59     12527

In [139]:
def get_model(meta, activation, n_layers, hidden_layer_1, hidden_layer_2 = None, hidden_layer_3 = None):
    # note that meta is a special argument that will be
    # handed a dict containing input metadata
    n_features_in_ = meta["n_features_in_"]
    X_shape_ = meta["X_shape_"]
    dims = [hidden_layer_1, hidden_layer_2, hidden_layer_3]

    model = Sequential(name="Red_CV")
    model.add(Dense(n_features_in_, input_shape=X_shape_[1:]))

    for i in range(n_layers):
        model.add(Dense(dims[i], activation=activation))
    
    model.add(Dense(3, activation='softmax'))
    return model

In [152]:
clf = KerasClassifier(
    get_model,
    loss="categorical_crossentropy",
    n_layers=2,
    hidden_layer_1=30, 
    hidden_layer_2=10,
    hidden_layer_3=None,
    metrics=["accuracy"],
    epochs=10,
    activation="relu"
)

clf

KerasClassifier(
	model=<function get_model at 0x7f0223eebd40>
	build_fn=None
	warm_start=False
	random_state=None
	optimizer=rmsprop
	loss=categorical_crossentropy
	metrics=['accuracy']
	batch_size=None
	validation_batch_size=None
	verbose=1
	callbacks=None
	validation_split=0.0
	shuffle=True
	run_eagerly=False
	epochs=10
	n_layers=2
	hidden_layer_1=30
	hidden_layer_2=10
	hidden_layer_3=None
	activation=relu
	class_weight=None
)

In [153]:
ct = ColumnTransformer([
       ('encoder', OneHotEncoder(handle_unknown='ignore'),
       make_column_selector(dtype_include=np.object)),
       ], remainder='passthrough')

In [166]:
estimators = [
              ('encoder', ct),
              ('clf', clf),
              ]

pipe = Pipeline(estimators)

In [167]:
pipe.fit(X_train, y_train)

Epoch 1/10
392/392 [==============================] - 2s 3ms/step - loss: 0.9416 - accuracy: 0.5667
Epoch 2/10
392/392 [==============================] - 1s 3ms/step - loss: 0.9094 - accuracy: 0.5832
Epoch 3/10
392/392 [==============================] - 1s 3ms/step - loss: 0.9032 - accuracy: 0.5858
Epoch 4/10
392/392 [==============================] - 1s 3ms/step - loss: 0.8995 - accuracy: 0.5867
Epoch 5/10
392/392 [==============================] - 1s 3ms/step - loss: 0.8977 - accuracy: 0.5873
Epoch 6/10
392/392 [==============================] - 1s 3ms/step - loss: 0.8961 - accuracy: 0.5872
Epoch 7/10
392/392 [==============================] - 1s 3ms/step - loss: 0.8941 - accuracy: 0.5900
Epoch 8/10
392/392 [==============================] - 1s 3ms/step - loss: 0.8928 - accuracy: 0.5871
Epoch 9/10
392/392 [==============================] - 1s 3ms/step - loss: 0.8924 - accuracy: 0.5887
Epoch 10/10
392/392 [==============================] - 1s 3ms/step - loss: 0.8911 - accuracy: 0.5910

Pipeline(steps=[('encoder',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('encoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f01bd2e9cd0>)])),
                ('clf',
                 KerasClassifier(activation='relu', epochs=10, hidden_layer_1=30, hidden_layer_2=10, hidden_layer_3=None, loss='categorical_crossentropy', metrics=['accuracy'], model=<function get_model at 0x7f0223eebd40>, n_layers=2))])

In [168]:
y_pred = pipe.predict(X_train)
y_pred

392/392 [==============================] - 1s 1ms/step

array([1, 1, 1, ..., 1, 3, 1])

In [169]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           1       0.62      0.85      0.71      6096
           2       0.33      0.01      0.01      2799
           3       0.54      0.61      0.58      3632

    accuracy                           0.59     12527
   macro avg       0.50      0.49      0.43     12527
weighted avg       0.53      0.59      0.52     12527

In [172]:
with tf.device('/device:GPU:0'): 
    params = {
              "clf__hidden_layer_1": [8, 100, 10, 5],
              "clf__hidden_layer_2": [8, 100, 10, 5],
              "clf__hidden_layer_3": [8, 100, 10, 5],
              "clf__n_layers": [1,2,3],
              "clf__activation": ["relu", "linear", "sigmoid"],
              "clf__optimizer": ["adam", "sgd"],
              "clf__optimizer__learning_rate": [0.0001, 0.001, 0.1],
              "clf__epochs": [10, 30, 20],
             }
    grid = RandomizedSearchCV(pipe, params, cv=3, scoring='neg_log_loss', n_iter=10, random_state=2022)

In [173]:
grid.fit(X_train, y_train)

Epoch 1/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9389 - accuracy: 0.5700
Epoch 2/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9140 - accuracy: 0.5803
Epoch 3/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9104 - accuracy: 0.5845
Epoch 4/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9094 - accuracy: 0.5836
Epoch 5/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9067 - accuracy: 0.5851
Epoch 6/10
261/261 [==============================] - 1s 2ms/step - loss: 0.9075 - accuracy: 0.5856
Epoch 7/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9059 - accuracy: 0.5844
Epoch 8/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9047 - accuracy: 0.5858
Epoch 9/10
261/261 [==============================] - 1s 2ms/step - loss: 0.9042 - accuracy: 0.5865
Epoch 10/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9043 - accuracy: 0.5852
131/131 [==============================] - 0s 1ms/step
Epoch 1/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9418 - accuracy: 0.5634
Epoch 2/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9121 - accuracy: 0.5809
Epoch 3/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9056 - accuracy: 0.5817
Epoch 4/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9033 - accuracy: 0.5790
Epoch 5/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9012 - accuracy: 0.5827
Epoch 6/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9001 - accuracy: 0.5862
Epoch 7/10
261/261 [==============================] - 1s 3ms/step - loss: 0.8983 - accuracy: 0.5868
Epoch 8/10
261/261 [==============================] - 1s 3ms/step - loss: 0.8982 - accuracy: 0.5836
Epoch 9/10
261/261 [==============================] - 1s 3ms/step - loss: 0.8975 - accuracy: 0.5890
Epoch 10/10
261/261 [==============================] - 1s 3ms/step - loss: 0.8966 - accuracy: 0.5884
131/131 [==============================] - 0s 1ms/step
Epoch 1/10
261/261 [==============================] - 1s 2ms/step - loss: 0.9309 - accuracy: 0.5729
Epoch 2/10
261/261 [==============================] - 1s 2ms/step - loss: 0.9130 - accuracy: 0.5817
Epoch 3/10
261/261 [==============================] - 1s 2ms/step - loss: 0.9083 - accuracy: 0.5818
Epoch 4/10
261/261 [==============================] - 1s 2ms/step - loss: 0.9057 - accuracy: 0.5863
Epoch 5/10
261/261 [==============================] - 1s 5ms/step - loss: 0.9033 - accuracy: 0.5851
Epoch 6/10
261/261 [==============================] - 1s 5ms/step - loss: 0.9011 - accuracy: 0.5876
Epoch 7/10
261/261 [==============================] - 1s 4ms/step - loss: 0.8981 - accuracy: 0.5862
Epoch 8/10
261/261 [==============================] - 1s 3ms/step - loss: 0.8976 - accuracy: 0.5887
Epoch 9/10
261/261 [==============================] - 1s 4ms/step - loss: 0.8981 - accuracy: 0.5885
Epoch 10/10
261/261 [==============================] - 1s 6ms/step - loss: 0.8974 - accuracy: 0.5899
131/131 [==============================] - 0s 1ms/step
Epoch 1/10
261/261 [==============================] - 1s 3ms/step - loss: 1.0359 - accuracy: 0.4652
Epoch 2/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9862 - accuracy: 0.5156
Epoch 3/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9630 - accuracy: 0.5496
Epoch 4/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9511 - accuracy: 0.5604
Epoch 5/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9447 - accuracy: 0.5620
Epoch 6/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9408 - accuracy: 0.5636
Epoch 7/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9382 - accuracy: 0.5635
Epoch 8/10
261/261 [==============================] - 1s 4ms/step - loss: 0.9363 - accuracy: 0.5650
Epoch 9/10
261/261 [==============================] - 1s 4ms/step - loss: 0.9347 - accuracy: 0.5662
Epoch 10/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9334 - accuracy: 0.5674
131/131 [==============================] - 0s 1ms/step
Epoch 1/10
261/261 [==============================] - 1s 3ms/step - loss: 1.0492 - accuracy: 0.4580
Epoch 2/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9793 - accuracy: 0.5387
Epoch 3/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9599 - accuracy: 0.5507
Epoch 4/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9510 - accuracy: 0.5556
Epoch 5/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9459 - accuracy: 0.5577
Epoch 6/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9422 - accuracy: 0.5608
Epoch 7/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9394 - accuracy: 0.5630
Epoch 8/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9371 - accuracy: 0.5646
Epoch 9/10
261/261 [==============================] - 1s 5ms/step - loss: 0.9352 - accuracy: 0.5654
Epoch 10/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9334 - accuracy: 0.5660
131/131 [==============================] - 0s 3ms/step
Epoch 1/10
261/261 [==============================] - 1s 2ms/step - loss: 1.0854 - accuracy: 0.4318
Epoch 2/10
261/261 [==============================] - 1s 2ms/step - loss: 1.0148 - accuracy: 0.5236
Epoch 3/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9781 - accuracy: 0.5479
Epoch 4/10
261/261 [==============================] - 1s 2ms/step - loss: 0.9573 - accuracy: 0.5572
Epoch 5/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9462 - accuracy: 0.5638
Epoch 6/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9397 - accuracy: 0.5649
Epoch 7/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9356 - accuracy: 0.5666
Epoch 8/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9325 - accuracy: 0.5678
Epoch 9/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9302 - accuracy: 0.5710
Epoch 10/10
261/261 [==============================] - 1s 3ms/step - loss: 0.9283 - accuracy: 0.5721
131/131 [==============================] - 0s 1ms/step
Epoch 1/30
261/261 [==============================] - 1s 3ms/step - loss: 1.1368 - accuracy: 0.4525
Epoch 2/30
261/261 [==============================] - 1s 3ms/step - loss: 1.0125 - accuracy: 0.5244
Epoch 3/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9806 - accuracy: 0.5414
Epoch 4/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9626 - accuracy: 0.5481
Epoch 5/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9506 - accuracy: 0.5556
Epoch 6/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9415 - accuracy: 0.5602
Epoch 7/30
261/261 [==============================] - 2s 6ms/step - loss: 0.9349 - accuracy: 0.5662
Epoch 8/30
261/261 [==============================] - 2s 6ms/step - loss: 0.9296 - accuracy: 0.5660
Epoch 9/30
261/261 [==============================] - 1s 5ms/step - loss: 0.9255 - accuracy: 0.5684
Epoch 10/30
261/261 [==============================] - 1s 4ms/step - loss: 0.9222 - accuracy: 0.5717
Epoch 11/30
261/261 [==============================] - 1s 4ms/step - loss: 0.9195 - accuracy: 0.5727
Epoch 12/30
261/261 [==============================] - 1s 5ms/step - loss: 0.9173 - accuracy: 0.5748
Epoch 13/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9156 - accuracy: 0.5766
Epoch 14/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9142 - accuracy: 0.5767
Epoch 15/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9130 - accuracy: 0.5791
Epoch 16/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9124 - accuracy: 0.5803
Epoch 17/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9115 - accuracy: 0.5805
Epoch 18/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9110 - accuracy: 0.5818
Epoch 19/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9104 - accuracy: 0.5818
Epoch 20/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9101 - accuracy: 0.5827
Epoch 21/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9095 - accuracy: 0.5830
Epoch 22/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9095 - accuracy: 0.5828
Epoch 23/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9092 - accuracy: 0.5836
Epoch 24/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9089 - accuracy: 0.5830
Epoch 25/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9088 - accuracy: 0.5842
Epoch 26/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9086 - accuracy: 0.5840
Epoch 27/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9084 - accuracy: 0.5829
Epoch 28/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9083 - accuracy: 0.5854
Epoch 29/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9084 - accuracy: 0.5851
Epoch 30/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9083 - accuracy: 0.5842
131/131 [==============================] - 0s 1ms/step
Epoch 1/30
261/261 [==============================] - 1s 3ms/step - loss: 1.1754 - accuracy: 0.4502
Epoch 2/30
261/261 [==============================] - 1s 3ms/step - loss: 1.0256 - accuracy: 0.5113
Epoch 3/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9832 - accuracy: 0.5351
Epoch 4/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9603 - accuracy: 0.5478
Epoch 5/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9456 - accuracy: 0.5538
Epoch 6/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9351 - accuracy: 0.5642
Epoch 7/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9274 - accuracy: 0.5699
Epoch 8/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9218 - accuracy: 0.5737
Epoch 9/30
261/261 [==============================] - 1s 4ms/step - loss: 0.9178 - accuracy: 0.5754
Epoch 10/30
261/261 [==============================] - 1s 4ms/step - loss: 0.9147 - accuracy: 0.5774
Epoch 11/30
261/261 [==============================] - 2s 6ms/step - loss: 0.9123 - accuracy: 0.5789
Epoch 12/30
261/261 [==============================] - 2s 6ms/step - loss: 0.9107 - accuracy: 0.5795
Epoch 13/30
261/261 [==============================] - 1s 4ms/step - loss: 0.9093 - accuracy: 0.5811
Epoch 14/30
261/261 [==============================] - 1s 6ms/step - loss: 0.9083 - accuracy: 0.5827
Epoch 15/30
261/261 [==============================] - 2s 6ms/step - loss: 0.9075 - accuracy: 0.5830
Epoch 16/30
261/261 [==============================] - 1s 5ms/step - loss: 0.9070 - accuracy: 0.5844
Epoch 17/30
261/261 [==============================] - 1s 4ms/step - loss: 0.9063 - accuracy: 0.5826
Epoch 18/30
261/261 [==============================] - 1s 4ms/step - loss: 0.9060 - accuracy: 0.5841
Epoch 19/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9057 - accuracy: 0.5835
Epoch 20/30
261/261 [==============================] - 1s 5ms/step - loss: 0.9054 - accuracy: 0.5841
Epoch 21/30
261/261 [==============================] - 1s 4ms/step - loss: 0.9051 - accuracy: 0.5844
Epoch 22/30
261/261 [==============================] - 1s 5ms/step - loss: 0.9049 - accuracy: 0.5850
Epoch 23/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9048 - accuracy: 0.5835
Epoch 24/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9048 - accuracy: 0.5846
Epoch 25/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9044 - accuracy: 0.5842
Epoch 26/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9043 - accuracy: 0.5839
Epoch 27/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9043 - accuracy: 0.5846
Epoch 28/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9043 - accuracy: 0.5835
Epoch 29/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9041 - accuracy: 0.5857
Epoch 30/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9041 - accuracy: 0.5829
131/131 [==============================] - 0s 2ms/step
Epoch 1/30
261/261 [==============================] - 1s 2ms/step - loss: 1.2222 - accuracy: 0.3404
Epoch 2/30
261/261 [==============================] - 1s 3ms/step - loss: 1.0444 - accuracy: 0.4750
Epoch 3/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9785 - accuracy: 0.5419
Epoch 4/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9495 - accuracy: 0.5629
Epoch 5/30
261/261 [==============================] - 1s 2ms/step - loss: 0.9351 - accuracy: 0.5676
Epoch 6/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9272 - accuracy: 0.5709
Epoch 7/30
261/261 [==============================] - 1s 4ms/step - loss: 0.9220 - accuracy: 0.5747
Epoch 8/30
261/261 [==============================] - 1s 4ms/step - loss: 0.9185 - accuracy: 0.5779
Epoch 9/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9158 - accuracy: 0.5787
Epoch 10/30
261/261 [==============================] - 1s 2ms/step - loss: 0.9138 - accuracy: 0.5805
Epoch 11/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9122 - accuracy: 0.5789
Epoch 12/30
261/261 [==============================] - 1s 4ms/step - loss: 0.9108 - accuracy: 0.5817
Epoch 13/30
261/261 [==============================] - 1s 5ms/step - loss: 0.9096 - accuracy: 0.5811
Epoch 14/30
261/261 [==============================] - 1s 2ms/step - loss: 0.9088 - accuracy: 0.5811
Epoch 15/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9077 - accuracy: 0.5831
Epoch 16/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9073 - accuracy: 0.5825
Epoch 17/30
261/261 [==============================] - 1s 2ms/step - loss: 0.9065 - accuracy: 0.5825
Epoch 18/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9061 - accuracy: 0.5841
Epoch 19/30
261/261 [==============================] - 1s 2ms/step - loss: 0.9056 - accuracy: 0.5833
Epoch 20/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9052 - accuracy: 0.5825
Epoch 21/30
261/261 [==============================] - 1s 2ms/step - loss: 0.9050 - accuracy: 0.5835
Epoch 22/30
261/261 [==============================] - 1s 2ms/step - loss: 0.9045 - accuracy: 0.5833
Epoch 23/30
261/261 [==============================] - 1s 2ms/step - loss: 0.9042 - accuracy: 0.5831
Epoch 24/30
261/261 [==============================] - 1s 2ms/step - loss: 0.9041 - accuracy: 0.5838
Epoch 25/30
261/261 [==============================] - 1s 2ms/step - loss: 0.9036 - accuracy: 0.5833
Epoch 26/30
261/261 [==============================] - 1s 2ms/step - loss: 0.9037 - accuracy: 0.5830
Epoch 27/30
261/261 [==============================] - 1s 2ms/step - loss: 0.9034 - accuracy: 0.5826
Epoch 28/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9032 - accuracy: 0.5827
Epoch 29/30
261/261 [==============================] - 1s 3ms/step - loss: 0.9033 - accuracy: 0.5842
Epoch 30/30
261/261 [==============================] - 1s 2ms/step - loss: 0.9032 - accuracy: 0.5839
131/131 [==============================] - 0s 1ms/step
Epoch 1/20
261/261 [==============================] - 1s 3ms/step - loss: 1.5646 - accuracy: 0.2899
Epoch 2/20
261/261 [==============================] - 1s 3ms/step - loss: 1.5294 - accuracy: 0.2899
Epoch 3/20
261/261 [==============================] - 1s 3ms/step - loss: 1.4965 - accuracy: 0.2899
Epoch 4/20
261/261 [==============================] - 1s 3ms/step - loss: 1.4660 - accuracy: 0.2899
Epoch 5/20
261/261 [==============================] - 1s 3ms/step - loss: 1.4377 - accuracy: 0.2899
Epoch 6/20
261/261 [==============================] - 1s 3ms/step - loss: 1.4114 - accuracy: 0.2899
Epoch 7/20
261/261 [==============================] - 1s 3ms/step - loss: 1.3870 - accuracy: 0.2899
Epoch 8/20
261/261 [==============================] - 1s 3ms/step - loss: 1.3645 - accuracy: 0.2899
Epoch 9/20
261/261 [==============================] - 1s 3ms/step - loss: 1.3437 - accuracy: 0.2899
Epoch 10/20
261/261 [==============================] - 1s 3ms/step - loss: 1.3244 - accuracy: 0.2899
Epoch 11/20
261/261 [==============================] - 1s 3ms/step - loss: 1.3066 - accuracy: 0.2899
Epoch 12/20
261/261 [==============================] - 1s 3ms/step - loss: 1.2902 - accuracy: 0.2899
Epoch 13/20
261/261 [==============================] - 1s 3ms/step - loss: 1.2751 - accuracy: 0.2899
Epoch 14/20
261/261 [==============================] - 1s 3ms/step - loss: 1.2611 - accuracy: 0.2899
Epoch 15/20
261/261 [==============================] - 1s 3ms/step - loss: 1.2481 - accuracy: 0.2899
Epoch 16/20
261/261 [==============================] - 1s 3ms/step - loss: 1.2362 - accuracy: 0.2899
Epoch 17/20
261/261 [==============================] - 1s 3ms/step - loss: 1.2251 - accuracy: 0.2899
Epoch 18/20
261/261 [==============================] - 1s 3ms/step - loss: 1.2149 - accuracy: 0.2899
Epoch 19/20
261/261 [==============================] - 1s 3ms/step - loss: 1.2054 - accuracy: 0.2899
Epoch 20/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1966 - accuracy: 0.2899
131/131 [==============================] - 0s 2ms/step
Epoch 1/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1617 - accuracy: 0.2234
Epoch 2/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1563 - accuracy: 0.2234
Epoch 3/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1512 - accuracy: 0.2234
Epoch 4/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1463 - accuracy: 0.2234
Epoch 5/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1416 - accuracy: 0.2234
Epoch 6/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1371 - accuracy: 0.2234
Epoch 7/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1329 - accuracy: 0.2234
Epoch 8/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1288 - accuracy: 0.2234
Epoch 9/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1250 - accuracy: 0.2234
Epoch 10/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1213 - accuracy: 0.2234
Epoch 11/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1178 - accuracy: 0.2234
Epoch 12/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1145 - accuracy: 0.2234
Epoch 13/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1113 - accuracy: 0.2234
Epoch 14/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1082 - accuracy: 0.2234
Epoch 15/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1053 - accuracy: 0.2234
Epoch 16/20
261/261 [==============================] - 1s 3ms/step - loss: 1.1025 - accuracy: 0.2234
Epoch 17/20
261/261 [==============================] - 1s 3ms/step - loss: 1.0999 - accuracy: 0.2234
Epoch 18/20
261/261 [==============================] - 1s 4ms/step - loss: 1.0973 - accuracy: 0.3204
Epoch 19/20
261/261 [==============================] - 1s 4ms/step - loss: 1.0949 - accuracy: 0.4864
Epoch 20/20
261/261 [==============================] - 1s 4ms/step - loss: 1.0926 - accuracy: 0.4866
131/131 [==============================] - 0s 2ms/step
Epoch 1/20
261/261 [==============================] - 1s 3ms/step - loss: 1.0529 - accuracy: 0.4866
Epoch 2/20
261/261 [==============================] - 1s 3ms/step - loss: 1.0523 - accuracy: 0.4866
Epoch 3/20
261/261 [==============================] - 1s 3ms/step - loss: 1.0519 - accuracy: 0.4866

RandomizedSearchCV(cv=3,
                   estimator=Pipeline(steps=[('encoder',
                                              ColumnTransformer(remainder='passthrough',
                                                                transformers=[('encoder',
                                                                               OneHotEncoder(handle_unknown='ignore'),
                                                                               <sklearn.compose._column_transformer.make_column_selector object at 0x7f01bd2e9cd0>)])),
                                             ('clf',
                                              KerasClassifier(activation='relu', epochs=10, hidden_layer_1=30, hidden_layer_2=10, hidden_laye...),
                   param_distributions={'clf__activation': ['relu', 'linear',
                                                            'sigmoid'],
                                        'clf__epochs': [10, 30, 20],
                                        'clf__hidden_layer_1': [8, 100, 10, 5],
                                        'clf__hidden_layer_2': [8, 100, 10, 5],
                                        'clf__hidden_layer_3': [8, 100, 10, 5],
                                        'clf__n_layers': [1, 2, 3, 4],
                                        'clf__optimizer': ['adam', 'sgd'],
                                        'clf__optimizer__learning_rate': [0.0001,
                                                                          0.001,
                                                                          0.1]},
                   random_state=2022, scoring='neg_log_loss')

In [174]:
best_model = grid.best_estimator_

grid.best_params_

{'clf__optimizer__learning_rate': 0.1,
 'clf__optimizer': 'sgd',
 'clf__n_layers': 1,
 'clf__hidden_layer_3': 5,
 'clf__hidden_layer_2': 100,
 'clf__hidden_layer_1': 8,
 'clf__epochs': 10,
 'clf__activation': 'relu'}

In [175]:
y_pred = best_model.predict(X_train)

y_pred

392/392 [==============================] - 1s 1ms/step

array([1, 1, 1, ..., 1, 3, 1])

In [176]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           1       0.60      0.87      0.71      6096
           2       0.00      0.00      0.00      2799
           3       0.56      0.58      0.57      3632

    accuracy                           0.59     12527
   macro avg       0.39      0.48      0.43     12527
weighted avg       0.46      0.59      0.51     12527

In [177]:
y_pred = best_model.predict(X_test)

y_pred

98/98 [==============================] - 0s 1ms/step

array([3, 3, 1, ..., 1, 1, 1])

In [178]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.60      0.86      0.70      1498
           2       0.00      0.00      0.00       748
           3       0.53      0.58      0.55       886

    accuracy                           0.58      3132
   macro avg       0.38      0.48      0.42      3132
weighted avg       0.44      0.58      0.49      3132

In [ ]:
def obtain_new(equipo1, equipo2):
    base1 = base_total_max[base_total_max['team'] == equipo1]
    base2 = base_total_max[base_total_max['team'] == equipo2]
    return base1